<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499896872669-2c6etskhmqqgcoo68fnub7qfa9v61bnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499896872669-2c6etskhmqqgcoo68fnub7qfa9v61bnu</string>
	<key>API_KEY</key>
	<string>AIzaSyAr8tkYlmGQL-Tyf-nZRgelU1pWl6XGX28</string>
	<key>GCM_SENDER_ID</key>
	<string>499896872669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.italica</string>
	<key>PROJECT_ID</key>
	<string>flutter-fcm-demo-fe493</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fcm-demo-fe493.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499896872669:ios:1c4d593695d0959d9eb534</string>
</dict>
</plist>